<h1><%= @user.name %></h1>
<p><%= @user.email_address %></p>
<p><%= @user.bio %></p>


<h2>User's Listings</h2>
<% @user.listings.each do |listing| %>
  <h3><%= link_to listing.title, listing_path(listing) %></h3>
  <p><%= listing.description %></p>
<% end %>
